* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


/* media */

@media (max-width: 1599px) and (min-width: 992px) {
    .header-left {
        position: static;
        float: left;
    }
    .menu-bar .icon {
        display: none;
    }
    .header {
        text-align: center;
    }
    .header-mid {
        float: none;
        width: auto;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }
    .menu-bar {
        float: left;
        width: 100%;
    }
    .box-title h3 {
        font-size: 36px;
        line-height: 40px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .main-content ul.drop-menu li.father .dropdown-menu {
        left: -110px;
        right: auto;
    }
}


/* mobile */

@media (max-width: 991px) {
    .header {
        text-align: left;
    }
    .header-mid {
        float: left;
        width: auto;
    }
    .logo {
        padding: 0;
        display: inline-block;
        text-align: center;
        float: none;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 0;
        bottom: auto;
        top: auto;
        width: auto;
    }
    .drop-menu {
        display: none;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        bottom: auto;
        left: 0;
        padding: 15px;
        position: absolute;
        right: 0;
        top: 100%;
    }
    .drop-menu li {
        width: 100%;
        padding: 0;
    }
    .menu-bar .icon {
        display: block;
        border: none;
        color: #000;
        font: 500 20px/18px 'Poppins', Helvetica, sans-serif;
        position: relative;
        cursor: pointer;
        padding: 45px 0;
        margin: 0;
        height: auto;
    }
    .main-content.reponsive {
        position: relative;
        display: inline;
    }
    .menu-bar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-content.responsive ul,
    li {
        float: none;
        display: block;
        text-align: left;
    }
    .box-title h3 {
        font-size: 30px;
        line-height: 32px;
        margin: 0 0 20px;
        padding: 0 0 40px;
    }
}

@media (max-width: 543px) {
    .logo {
        left: 100px;
        right: auto;
        margin: 9px auto;
        text-align: left;
    }
    .logo img {
        width: 140px;
    }
}


/* set body */

body {
    color: #666;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
    margin: 0;
}


/* header */

.header {
    float: left;
    width: 100%;
    position: relative;
    /* text-align: center; */
    z-index: 9;
}

header .top-header {
    width: 100%;
    background: #ffb900;
    float: left;
    padding: 0 30px;
}

.top-header .bar {
    width: 100%;
    padding: 0;
    display: table;
}


/* header-left */

.header-left {
    float: left;
    width: auto;
}

.logo {
    float: left;
    width: 100%;
    padding: 32px 0;
}


/* header right */

header .header-right,
.tools {
    float: right;
}

.header-right .tools ul {
    float: left;
    width: 100%;
    padding: 43px 0;
    margin: 0;
}

.header-right .tools ul li {
    position: relative;
    float: left;
    padding: 0;
    text-align: center;
}

.header-right .tools ul li i {
    color: #000;
    font-size: 17px;
    width: 40px;
}

.header-right .tools ul li a i.icon-flipped {
    transform: rotateY(0);
    transition: transform 360ms ease-in-out 0s;
}

.header-right .tools ul li:hover a i.icon-flipped {
    transform: rotateY(180deg);
    transition: transform 360ms ease-in-out 0s;
}


/* header-mid */

.header-mid {
    float: none;
    width: auto;
    text-align: left;
    display: inline-block;
    /* vertical-align: top; */
}


/* set navigation bar */

.center-menu {
    vertical-align: top;
}

.drop-menu {
    float: left;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.drop-menu li.father {
    cursor: pointer;
    float: left;
    padding: 42.5px 5px;
    width: auto;
}

.drop-menu li .hover-btn {
    color: #000;
    /* display: block; */
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 13px 8px 15px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.name {
    position: relative;
    z-index: 1;
}


/* animation icon hover */

.icon-change {
    font-family: "Font Awesome 5 Free";
    font-size: x-small;
}

.drop-menu li .hover-btn .icon-change::before {
    content: "\f078";
}

.drop-menu li .hover-btn:hover .icon-change::before {
    content: "\f077";
}


/* animation hover */

.drop-menu li .hover-btn:after {
    border-radius: 99px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: transparent;
    transition: all .35s;
    z-index: -1;
}

.drop-menu li .hover-btn:hover::after {
    background: #fff;
    height: 100%;
    z-index: -1
}


/* mega list in menu bar item */

.drop-menu .dropdown .dropdown-menu {
    /* doi mau */
    background: #fff;
    /* background: #ffffff none repeat scroll 0 0; */
    border: 1px solid #e5e5e5;
    border-top: 3px solid #000;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    right: auto;
    top: 100%;
    min-width: 180px;
    z-index: 999;
    visibility: hidden;
    display: block;
}

.drop-menu li:hover .dropdown-menu {
    visibility: visible;
}

.drop-menu .dropdown-menu .dropdown-inner {
    float: left;
    width: 100%;
}

.dropdown-inner .mega-dropdown {
    float: left;
    padding: 20px;
}

.mega-dropdown li.colums a.single-text {
    text-decoration: none;
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    padding: 0 0 8px;
    margin: 0 0 8px;
}

.line {
    background: #e5e5e5;
    height: 1px;
    margin: 3px 0;
    width: 90%;
}

.mega-dropdown .colums {
    padding: 0 10px;
    float: left;
}

.mega-dropdown li.colums .dropdown-menu {
    border: none;
    display: block;
    position: static;
    padding: 0;
}

.mega-dropdown li.colums .dropdown-menu .dropdown-inner .mega-text .text {
    float: left;
    width: 100%;
}

.mega-text li.text a,
.hover-a {
    color: #666;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.mega-text li.text a:hover {
    color: #000;
    text-decoration: none;
}

.hover-a:hover {
    color: #000;
    text-decoration: none;
}

.hover-a i {
    font-size: x-small;
    color: #666;
    left: 160px;
    right: auto;
    top: 8px;
    bottom: auto;
    position: absolute;
}

.hover-a:hover i {
    color: #000;
}


/* Menu More */

.drop-menu li.more-menu .dropdown-menu {
    padding: 15px 0;
}


/*  
 .drop-menu li.more-menu .dropdown-menu li {
     float: left;
 } */

.drop-menu li.more-menu .dropdown-menu li .hover-a {
    padding: 0 20px;
    margin: 0;
}


/* multi dropdown menu  */

.dropdown-lv2 {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-top: 3px solid #111;
    display: block;
    float: left;
    left: 100%;
    max-width: 200px;
    padding: 15px 0;
    position: absolute;
    right: auto;
    top: 0;
    width: 100%;
    visibility: hidden;
    display: block;
}

.drop-menu li.more-menu .dropdown-menu li:hover .dropdown-lv2 {
    visibility: visible;
}


/* Start content */


/* Slide show */

.content-top {
    padding-bottom: 80px;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    top: 0;
    bottom: 0;
    opacity: 1;
}

.carousel .carousel-control-prev .carousel-prev-icon,
.carousel-next-icon {
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    text-shadow: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
    height: 60px;
    width: 60px;
    border: none;
    display: inline-block;
    border-radius: 50%;
    font: 500 16px/55px 'Dosis', Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    opacity: 0;
}


/* hover icon */

.carousel a.carousel-control-prev .carousel-prev-icon:hover,
.carousel-next-icon:hover {
    text-decoration: none;
    background: #ffba01;
    border-color: #ffba01;
    color: #000000;
}

.carousel .carousel-inner .carousel-control-prev .carousel-prev-icon {
    opacity: 0;
    margin-left: 50px;
}

.carousel .carousel-inner .carousel-control-next .carousel-next-icon {
    opacity: 0;
    margin-right: 50px;
}

.carousel .carousel-inner:hover .carousel-control-prev .carousel-prev-icon,
.carousel .carousel-inner:hover .carousel-control-next .carousel-next-icon {
    margin: 0;
    opacity: 1;
    transition: 600ms ease-in-out;
}


/* set services */

.services {
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 80px;
}

.item {
    /* float: left; */
    position: relative;
    text-align: center;
}

.service-icon-bg {
    display: inline-block;
    float: none;
    text-align: center;
    cursor: pointer;
}

.service-icon {
    float: left;
    height: 60px;
    width: 60px;
    transition: all 400ms ease-in-out 0s;
}

.service-text {
    cursor: pointer;
    /* display: inline-block; */
    float: left;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
}

.service-text .title {
    color: #000;
    font: 600 16px/20px 'Dosis', Helvetica, sans-serif;
    margin-bottom: 5px;
}

.service-text .des {
    color: #444444;
    font: 400 14px/20px 'Poppins', Helvetica, sans-serif;
    width: auto;
}

.line-right {
    position: absolute;
    content: '';
    height: 90px;
    border-right: 1px solid #e5e5e5;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto -7px auto 0;
}


/* truct icon */

.service-icon-bg .truct-img {
    background: url(../images/services.png) repeat scroll -30px -22px;
}


/* hover truct icon */

.item:hover .truct-img {
    background: url(../images/services.png) repeat scroll 90px -22px;
}


/* support icon */

.service-icon-bg .support-img {
    background: url(../images/services.png) repeat scroll -34px -146px;
}


/* hover support icon */

.item:hover .support-img {
    background: url(../images/services.png) repeat scroll 86px -146px;
}


/* saving icon*/

.service-icon-bg .saving-img {
    background: url(../images/services.png) repeat scroll -34px -267px
}


/* hover saving icon */

.item:hover .saving-img {
    background: url(../images/services.png) repeat scroll 91px -267px;
}


/* smart payment icon*/

.service-icon-bg .smart-img {
    background: url(../images/services.png) repeat scroll -32px -388px;
}


/* hover smart icon */

.item:hover .smart-img {
    background: url(../images/services.png) repeat scroll 90px -388px;
}


/* banner content */

.banner {
    float: left;
    width: 100%;
    margin: 0 0 80px;
    padding: 0 0 0 100px;
    display: flex;
}

@media (max-width:991px) {
    .banner {
        padding: 0 0 0 10px;
    }
}

.banner .banner-col1 {
    max-width: 19.25%;
}

.banner-img a {
    position: relative;
    display: block;
    z-index: 0;
    padding: 0;
}

.banner-img a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: #ffffff;
    opacity: 0.8;
    z-index: -1;
}

.banner-img a::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #ffffff;
    opacity: 0.8;
    z-index: -1;
}

.banner-img a:hover::before,
.banner-img a:hover::after {
    width: 100%;
    height: 100%;
    z-index: 2;
    transition-duration: 1.3s;
    opacity: 0;
}

.banner .banner-col2 {
    width: 100%;
    padding: 0;
    display: flex;
    text-align: center;
}


/* product main*/

.product-layout {
    padding: 0 15px;
    position: relative;
}

.products-main {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 0 80px;
    overflow: hidden;
}

.products-main .containe .main-tab {
    clear: both;
}

.box-title {
    text-align: center;
    position: relative;
}

.box-title h3 {
    color: #111;
    font-weight: 600;
    font-family: 'Dosis', Helvetica, sans-serif;
    text-align: center;
    margin: 0 0 25px;
    position: relative;
    vertical-align: top;
    width: 100%;
    cursor: pointer;
    padding: 0 0 45px;
}

.box-title img {
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    margin: 0 auto;
}


/* tab */

.main-tab {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
}

.main-tab .nav-tabs {
    border: medium none;
    display: inline-block;
    float: none;
    margin: 0 0 25px;
    text-align: center;
    vertical-align: top;
    width: auto;
}

.main-tab .nav-tabs li {
    float: none;
    vertical-align: top;
    display: inline-block;
}

.main-tab .nav-tabs li h3 {
    border-radius: 0;
    border: none;
    color: #111;
    font: 500 15px/18px 'Poppins', Helvetica, sans-serif;
    margin: 0;
    outline: medium none;
    padding: 12px 22px;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    overflow: hidden;
}

.main-tab .nav-tabs li .nav-link.active {
    border-radius: 99px;
    background: #ffb900;
}

.main-tab .nav-tabs li .nav-link {
    text-decoration: none;
    z-index: 1;
    padding: 0;
    border: none;
}

.main-tab .nav-tabs li a h3::after {
    border-radius: 99px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: transparent;
    transition: all .35s;
    z-index: -1;
}

.main-tab .nav-tabs li:hover h3::after {
    background: #ffb900;
    height: 100%;
}


/* content tab */

.main-tab .tab-content {
    border: none;
    padding: 0;
    float: left;
    width: 100%;
    margin: 0;
}

.owl-stage-outer .owl-stage .owl-item {
    float: left;
}

.product-layouts {
    padding: 0 15px;
    position: relative;
}

.product-thumb {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.tab-content .product-layouts .product-thumb .image {
    border: none;
}

.product-thumb .img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.product-thumb .img a {
    display: block;
    position: relative;
}

.product-thumb .img img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.product-thumb .img img.img-change {
    left: auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    transition: all 400ms ease-in-out 0s;
}


/* sale */

.product-thumb .sale {
    color: #111;
    font: 500 13px/20px 'Poppins', Helvetica, sans-serif;
    right: auto;
    opacity: 0;
    position: absolute;
    left: -30px;
    text-transform: capitalize;
    top: 15px;
    vertical-align: top;
    z-index: 1;
    transition: 400ms ease-in-out;
}


/* percent */

.product-thumb .percent {
    position: absolute;
    top: 15px;
    padding: 0;
    color: #111;
    font: 500 13px/20px 'Poppins', Helvetica, sans-serif;
    left: auto;
    right: -30px;
    opacity: 0;
    vertical-align: top;
    z-index: 1;
    text-transform: capitalize;
    transition: all 400ms ease-in-out;
}


/* rating */

.product-thumb .img .rating {
    display: block;
    float: none;
    width: 120px;
    position: absolute;
    top: auto;
    bottom: 20px;
    margin: 0 auto;
    opacity: 1;
    left: 0;
    right: 0;
    padding: 5px 0;
    border-radius: 6px;
    background: #fff;
}

.product-thumb .img .rating i {
    /* display: inline-block; */
    float: none;
    width: 14px;
    height: 18px;
    vertical-align: middle;
    font-size: 13px;
}

.product-thumb .img .rating i.fas {
    color: yellow
}


/* btn */

.product-thumb .img .btn-group {
    bottom: 15px;
    float: left;
    left: auto;
    margin: auto;
    position: absolute;
    right: 0;
    top: auto;
    transition: all 0.3s ease 0s;
    height: 45px;
    text-align: center;
    width: 100%;
}

.product-thumb .img .btn-group .btn {
    padding: 0;
}

.product-thumb .img .btn-group button {
    background: #111;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    transition: all 0.4s ease 0s;
    transform: scale(0, 0);
}

.product-thumb .img .btn-group button i,
.product-thumb .btn-disable i {
    float: none;
    height: 44px;
    width: 44px;
    line-height: 44px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    color: #fff;
    vertical-align: top;
    border: none;
    transition: all 400ms ease-in-out 0s;
}


/*  hover button */

.product-thumb .img .btn-group button i::after {
    background: #ffba01;
    transition: all 0.4s ease;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    border-radius: 50px;
    opacity: 0;
    border-radius: 25px;
    z-index: -1;
    right: 0;
}

.product-thumb .img .btn-group button:hover i::after {
    height: 100%;
    opacity: 1;
}

.product-thumb .img .btn-group button:hover i {
    color: #000;
}


/* hover thumb */

.product-thumb:hover .img .img-change {
    opacity: 1;
}

.product-thumb:hover .img .rating {
    opacity: 0;
}

.product-thumb:hover .img .sale {
    opacity: 1;
    left: 15px;
}

.product-thumb:hover .img .percent {
    opacity: 1;
    right: 15px;
}

.product-thumb:hover .img .btn-group .btn button,
.product-thumb:hover .btn-disable {
    opacity: 1;
    transform: scale(1, 1);
}


/* thumb description */

.product-thumb .thumb-desc {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    margin: 0 0 15px;
    z-index: 2;
    border-radius: 0 0 10px 10px;
}

.product-thumb .thumb-desc .caption {
    float: left;
    width: 100%;
    position: relative;
}

.product-thumb h4 {
    color: #666666;
    float: left;
    font-size: 12px;
    margin: 10px 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}

.product-thumb h4 a {
    color: #666;
    font: 500 15px/20px 'Poppins', Helvetica, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 10px 0 7px;
}

.product-thumb h4 a:hover {
    color: #000;
}

.product-thumb .price {
    color: #111;
    font: 600 18px/20px 'Dosis', Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    text-align: center;
    float: left;
}

.product-thumb .price .price-old {
    color: #666;
    font: 600 14px/20px 'Dosis', Helvetica, sans-serif;
    text-decoration: line-through;
    vertical-align: top;
}

.btn-disable {
    background: gray;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    transition: all 0.4s ease 0s;
    transform: scale(0, 0);
    cursor: not-allowed;
}


/* button next,prev */

.tab-content .tab-pane .owl-carousel .owl-nav button,
.blog-latest .owl-carousel .owl-nav button {
    outline: none;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    border: 1px solid #e5e5e5;
    color: #666;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: all 400ms ease-in-out 0s;
}

.tab-content .tab-pane .owl-carousel .owl-nav button.owl-next,
.tab-content .tab-pane .owl-carousel .owl-nav button.owl-prev,
.blog-latest .owl-carousel .owl-nav button.owl-next,
.blog-latest .owl-carousel .owl-nav button.owl-prev {
    margin: 0 4px 0 0;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    background: #fff;
}

.tab-content .tab-pane .owl-theme .owl-nav .disabled,
.blog-latest .owl-theme .owl-nav .disabled {
    opacity: 1;
    cursor: pointer;
}

.tab-content .tab-pane .owl-carousel .owl-nav button.owl-next i,
.tab-content .tab-pane .owl-carousel .owl-nav button.owl-prev i,
.blog-latest .owl-carousel .owl-nav button.owl-next i,
.blog-latest .owl-carousel .owl-nav button.owl-prev i {
    font-size: 15px;
    line-height: 28px;
    width: 30px;
}

.tab-content .tab-pane .owl-carousel .owl-nav button.owl-prev::before,
.blog-latest .owl-carousel .owl-nav button.owl-prev::before {
    border-top: 1px solid #e5e5e5;
    content: "";
    float: left;
    height: 1px;
    left: -61px;
    position: absolute;
    text-align: left;
    top: 10px;
    width: 60px;
}

.tab-content .tab-pane .owl-carousel .owl-nav button.owl-prev::after,
.blog-latest .owl-carousel .owl-nav button.owl-prev::after {
    border-bottom: 1px solid #e5e5e5;
    content: "";
    height: 1px;
    left: -41px;
    position: absolute;
    top: 15px;
    width: 40px;
}

.tab-content .tab-pane .owl-carousel .owl-nav button.owl-next::before,
.blog-latest .owl-carousel .owl-nav button.owl-next::before {
    border-top: 1px solid #e5e5e5;
    content: "";
    height: 1px;
    position: absolute;
    right: -61px;
    top: 10px;
    width: 60px;
}

.tab-content .tab-pane .owl-carousel .owl-nav button.owl-next::after,
.blog-latest .owl-carousel .owl-nav button.owl-next::after {
    border-bottom: 1px solid #e5e5e5;
    content: "";
    height: 1px;
    position: absolute;
    right: -41px;
    top: 15px;
    width: 40px;
}

.tab-content .tab-pane .owl-carousel .owl-nav button:hover,
.blog-latest .owl-carousel .owl-nav button:hover {
    border-color: #ffba01;
    background-color: #ffba01;
    color: #111;
}


/* parallax */

.parallax {
    float: left;
    width: 100%;
    margin: 0 0 80px;
}

.parallax {
    padding: 103px 0;
    float: left;
    width: 100%;
    background-image: url(../images/parallax.jpg);
    text-align: center;
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.parallax .ttpara-title {
    font: 500 75px/80px 'Dosis', helvetica sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.parallax .ttpara-desc {
    font: 400 20px/24px 'Poppins', Helvetica, sans-serif;
    color: #111;
    background: #ffb900;
    display: inline-block;
    padding: 15px 35px;
}

.parallax .ttpara-title2 {
    font: 200 62px/64px 'Poppins', Helvetica, sans-serif;
    color: #fff;
    padding: 35px 0;
    text-transform: uppercase;
}

.parallax .ttpara-btn a {
    font: 500 13px/17px 'Poppins', Helvetica, sans-serif;
    color: #111;
    display: inline-block;
    padding: 15px 30px;
    background: #ffb900;
    border-radius: 30px;
    transition: all 400ms ease-in-out 0s;
}

.parallax .ttpara-btn a:hover,
.parallax .ttpara-btn a:active,
.parallax .ttpara-btn a:focus {
    background: #000;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 1200px) {
    #ttcmsparallax {
        margin: 0 0 60px;
    }
    #ttcmsparallax .ttpara-title {
        font-size: 70px;
        line-height: 72px;
    }
    #ttcmsparallax .ttpara-title2 {
        font-size: 58px;
        line-height: 60px;
    }
}

@media (max-width: 1199px) {
    #ttcmsparallax .tttestimonial-content .tttestimonial-inner {
        width: 100%;
    }
    #ttcmsparallax {
        margin: 0 0 40px;
    }
    #ttcmsparallax .parallex {
        padding: 90px 0;
        background-size: contain;
    }
}

@media (max-width: 991px) {
    #ttcmsparallax {
        width: 100%;
        padding: 0;
    }
    #ttcmsparallax .parallex {
        padding: 50px 0;
    }
    #ttcmsparallax .ttpara-title {
        font-size: 56px;
        line-height: 60px;
    }
    #ttcmsparallax .ttpara-title2 {
        font-size: 48px;
        line-height: 50px;
    }
}

@media (max-width: 767px) {
    .parallax .tttestimonial-content .tttestimonial-inner .customNavigation {
        opacity: 1;
    }
    .parallax .owl-pagination {
        margin: 0;
    }
    .parallax .ttpara-title {
        font-size: 44px;
        line-height: 50px;
    }
    .parallax .ttpara-title2 {
        font-size: 40px;
        line-height: 42px;
        padding: 25px 0;
    }
    .parallax .ttpara-desc {
        font-size: 14px;
        padding: 10px 20px;
    }
    .parallax .ttpara-btn a {
        padding: 13px 20px;
    }
}

@media (max-width: 543px) {
    #ttcmsparallax {
        float: left;
        width: 100%;
    }
    #ttcmsparallax .parallex {
        display: block;
    }
    #ttcmsparallax .ttpara-title {
        font-size: 36px;
        line-height: 40px;
        margin: 0 0 18px;
    }
    #ttcmsparallax .ttpara-title2 {
        font-size: 34px;
        line-height: 36px;
        padding: 16px 0;
    }
    #ttcmsparallax {
        margin: 0 0 25px;
    }
    #ttcmsparallax .parallex {
        padding: 30px 0;
    }
    #ttcmsparallax .ttpara-desc {
        font-size: 13px;
        padding: 10px;
    }
    #ttcmsparallax .ttparallax {
        padding: 0;
    }
    #ttcmsparallax .ttpara-btn a {
        padding: 11px 15px;
        font-size: 14px;
    }
}


/* info */

@media(max-width: 1599px) and (min-width:1200px) {
    .icontent-left::before {
        width: 52px;
        height: 52px;
        line-height: 52px;
        right: 9%;
    }
    .icontent-left::after {
        height: 105px;
        right: 16.5%;
    }
    .icontent-right {
        padding: 17px 60px 30px 0;
    }
    .icontent-left .u-text {
        padding: 30px 10px 0;
        text-align: left;
    }
    .info-content .u-image {
        float: left;
    }
}

@media(max-width:1199px) {
    .info-content .icontent-left {
        padding: 0;
    }
    .icontent-left::before {
        width: 50px;
        height: 50px;
        line-height: 50px;
        right: 3%;
    }
    .icontent-left::after {
        right: 33px;
        height: 130px;
    }
    .icontent-right {
        padding: 17px 0px 17px 0;
    }
    .icontent-left .u-text {
        padding: 30px 10px 0;
        text-align: left;
    }
    .info-content .u-image {
        float: left;
    }
}

@media(max-width: 991px) {
    .info-content .icontent-left,
    .info-content .icontent-right {
        max-width: 100%;
        flex: 100%;
        text-align: center
    }
    .info-content .u-image {
        float: left;
        width: 100%;
    }
    .icontent-left .u-image a img {
        float: none;
        display: inline-block;
    }
    .icontent-left::before,
    .icontent-left::after {
        display: none;
    }
    .icontent-left .u-text {
        padding: 10px 0 0;
        float: none;
        text-align: center;
    }
}

@media (max-width: 1599px) and (min-width: 992px) {
    .info-content .u-image a {
        float: left;
    }
}

.info {
    float: left;
    width: 100%;
    margin: 0 0 80px;
}

.info-inner {
    border: 10px solid #f5f5f5;
    width: 100%;
    padding: 72px 32px;
}

.info-content {
    float: left;
    width: 100%;
}

.info-content .u-image {
    border: 3px solid #fff;
}

.icontent-left .u-image a img {
    width: 105px;
    height: 105px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px #f5f5f5;
}

.icontent-left::before {
    position: absolute;
    content: '\e244';
    font-size: 28px;
    font-family: 'Material Icons';
    background: #ffb900;
    border-radius: 50%;
    text-align: center;
    top: 0;
    bottom: 0;
    left: auto;
    margin: auto;
    z-index: 1;
    transform: rotate(180deg);
    color: #000;
}

.icontent-left::after {
    position: absolute;
    content: '';
    border-right: 1px solid #ddd;
    left: auto;
    top: 0;
    bottom: 0;
    margin: auto;
}

.icontent-left .u-text .u-title {
    font: 600 16px /24px 'Poppins', Helvetica, sans-serif;
    color: #111;
    margin: 0 0 5px
}

.icontent-left .u-text .u-post {
    font: 400 13px /15px 'poppins', Helvetica, sans-serif;
    color: #222;
}

.icontent-left {
    float: left;
}

.icontent-right {
    text-align: left;
}

.icontent-right .u-desc {
    font: italic 400 14px/24px 'poppins', Helvetica, sans-serif;
    color: #222;
    float: left;
    margin: 0 0 10px;
}


/* info dots */

.content-page .info-inner .owl-dots .owl-dot {
    outline: none;
}

.content-page .info-inner .owl-dots .owl-dot:hover span,
.content-page .info-inner .owl-dots .owl-dot.active span {
    background: #fb9006;
}


/* blog latest news */

.blog-latest {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 80px 0;
}

.blog-content {
    float: left;
    width: 100%;
    margin: 0 0 60px 0;
    /* padding: 0 15px; */
}

.blog-content .blog-image {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 0;
}

.blog-content .blog-image a {
    display: block;
    position: relative;
    z-index: 1;
}

.blog-content .blog-image a .blog-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%
}

.blog-content:hover .blog-image a .blog-hover {
    background: rgba(0, 0, 0, .4);
    transition: all 0.3s ease 0s;
}

.blog-content .blog-links {
    bottom: 0;
    height: 45px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}

.blog-content .blog-links .icon-zoom {
    color: #fff;
    float: left;
    width: 45px;
    border-radius: 0;
    padding: 12px;
    height: 45px;
    opacity: 0;
    text-align: center;
    top: -3px;
    left: 3px;
    background: #fff;
    transform: scale(1.5);
    transition: all 400ms ease-in-out 0s;
    border-radius: 50%;
    border: 2px solid #fff;
}

.blog-content .blog-links .icon-zoom i {
    float: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    color: #111;
    line-height: 20px;
    vertical-align: top;
    transition: all 400ms ease-in-out 0s;
}


/* hover */

.blog-content:hover .icon-zoom {
    opacity: 1;
    transform: scale(1);
}

.blog-content .blog-links .icon-zoom:hover {
    background: #ffb900;
    color: #000;
    border: 2px solid #ffb900;
}


/* end hover */

.blog-caption .blog-inner {
    background: #fff;
    padding: 25px;
    float: none;
    width: 78%;
    text-align: center;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -60px;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

.blog-inner .post-title {
    margin: 0 0 10px;
    position: relative;
}

.post-title a {
    font: 500 18px/22px "Dosis", Helvetica, sans-serif;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #111;
    text-decoration: none;
    transition: all 400ms ease-in-out 0s;
}

.blog-caption a:hover {
    text-decoration: none;
}

.post-title a:hover {
    color: #111;
}

.blog-caption .read-more {
    font: 500 13px/18px 'Poppins', Helvetica, sans-serif;
    text-transform: capitalize;
    float: none;
    width: auto;
    position: relative;
    transition: all 400ms ease-in-out 0s;
    color: #000;
    letter-spacing: 1px;
    margin: 0 20px 0 0;
}

.blog-caption .read-more::after {
    content: '\E409';
    font-family: "material icons";
    vertical-align: top;
    padding: 5px;
    position: absolute;
}

.blog-caption .comment {
    float: none;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin: 7px auto;
}

.blog-caption .comment a {
    color: #666;
    position: relative;
    float: right;
    width: auto;
    font: 400 12px/13px 'Poppins', Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 400ms ease-in-out 0s;
}

.blog-caption .comment a:hover {
    color: #111;
}


/* brand carousel */

.brand {
    float: left;
    position: relative;
    width: 100%;
    margin: 0 0 80px;
}

.brand img {
    /* display: inline-block; */
    opacity: 0.6;
    cursor: pointer;
}

.brand img:hover {
    opacity: 1;
}

.brand .swiper-slide {
    text-align: center;
}


/* hover button prev,next swiper */

.brand .swiper-button-prev::after {
    content: '\e5c4';
    font-family: "Material Icons";
    color: #777777;
    font-size: 15px;
    float: left;
    line-height: 28px;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out 0ms;
}

.brand .swiper-button-next::after {
    content: '\e5c8';
    font-family: "Material Icons";
    color: #777777;
    font-size: 15px;
    float: left;
    line-height: 30px;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out 0ms;
}

.brand .swiper-button-prev,
.brand .swiper-button-next {
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 30px;
    border: 1px solid #e5e5e5;
    color: #000;
    font: 500 13px/18px "Dosis", Helvetica, sans-serif;
    opacity: 0;
    border-radius: 50%;
    background: #fff;
    transition: all 0.5s ease-in-out 0ms;
}

.brand .row:hover .swiper-button-prev.swiper-button-disabled,
.brand .row:hover .swiper-button-prev,
.brand .row:hover .swiper-button-next.swiper-button-disabled,
.brand .row:hover .swiper-button-next {
    opacity: 1;
}

.brand .row:hover .swiper-button-prev::after,
.brand .row:hover .swiper-button-next::after {
    color: #111;
}

.brand .swiper-button-prev.swiper-button-disabled,
.brand .swiper-button-next.swiper-button-disabled {
    pointer-events: all;
    opacity: 0;
}

.brand .swiper-button-prev:hover,
.brand .swiper-button-next:hover {
    background: #ffba01;
    color: #111;
    border-color: #ffba01;
}


/* End content */


/* Footer */

footer a {
    color: #ccc;
    cursor: pointer;
    font: 400 13px/30px "Poppins", Helvetica, sans-serif;
}

footer a:hover {
    color: #ffb900;
    text-decoration: none;
}

.footer-top {
    float: left;
    text-align: center;
    width: 100%;
    padding: 0;
    position: relative;
    background: #ffb900;
}

@media (max-width: 1199px) and (min-width:992px) {
    .newsletter {
        padding: 37px 30px;
    }
    .box .newsletter-title {
        float: left;
    }
    .box .newsletter-title h2 {
        float: left;
        text-align: left;
        width: 100%;
    }
    .box .newsletter-content {
        width: 100%;
        float: right;
    }
    #subscribe-email {
        max-width: 550px;
    }
}

@media (max-width: 1599px) and (min-width:1200px) {
    .newsletter {
        padding: 37px 120px;
    }
    .box .newsletter-title {
        float: left;
    }
    .box .newsletter-title h2 {
        float: left;
        text-align: left;
        width: 100%;
    }
    .box .newsletter-content {
        width: 100%;
        float: right;
    }
    #subscribe-email {
        max-width: 550px;
    }
}

@media (max-width:991px) {
    .newsletter {
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
    }
    .box .newsletter-title,
    .box .newsletter-content {
        flex: 100%;
        max-width: 100%;
        float: none;
    }
    .box .newsletter-title h2 {
        display: inline-block;
        float: none;
        text-align: center;
        width: auto;
        font-size: 26px;
        line-height: 46px;
    }
    .box .newsletter-content {
        width: 450px;
        float: none;
    }
    #subscribe_email {
        max-width: 445px;
    }
}

.newsletter {
    float: none;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.newsletter .box {
    float: none;
    width: 100%;
    background: none;
    display: inline-block;
    vertical-align: top;
}

.box .newsletter-title {
    padding: 0;
    width: auto;
}

.box .newsletter-title h2 {
    border: medium none;
    color: #111;
    margin: 0;
    padding: 0 0 0 50px;
    position: relative;
    text-transform: uppercase;
    font: 600 30px/45px 'Dosis', Helvetica, sans-serif;
}

.box .newsletter-title h2::before {
    bottom: auto;
    color: #111;
    cursor: pointer;
    float: left;
    font-family: "Material Icons";
    content: "\e0e1";
    font-size: 42px;
    height: 50px;
    left: 0;
    line-height: 46px;
    margin: auto;
    position: absolute;
    right: auto;
    top: 0;
    width: 50px;
    text-align: center;
    font-style: normal;
    background: none;
    font-weight: 400;
}

.box .newsletter-content {
    padding: 0;
    text-align: center;
    width: 100%;
    vertical-align: top;
}

.newsletter-content .form-email {
    float: left;
    position: relative;
    width: 100%;
}

#subscribe-email {
    background: #fff;
    padding: 15px 147px 12px 15px;
    float: left;
    color: #666;
    font: 400 13px/16px 'Poppins', Helvetica, sans-serif;
    height: 45px;
    letter-spacing: 1px;
    outline: none;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 50px;
}

#subscribe .btn {
    background: #111;
    color: #fff;
    font: 400 14px/45px "poppins", Helvetica, sans-serif;
    height: 45px;
    overflow: hidden;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 50px;
    transition: all 400ms ease-in-out 0s;
}

#subscribe .btn:hover {
    color: #fff;
    background: #666;
}


/* footer info */

.footer-content {
    float: left;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
    background: #191919;
}

.f-box {
    float: left;
    padding: 0;
    text-align: center;
}

.f-box .f-logo {
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
    text-align: left;
}

.f-box img {
    max-width: 215px;
    max-height: 45px;
    width: auto;
    height: auto;
}

.f-box .f-desc {
    color: #ccc;
    float: left;
    font: 400 13px/22px "Poppins", Helvetica, sans-serif;
    margin: 0 auto;
    text-align: left;
    width: 90%;
}

@media(max-width:1599px) and (min-width:992px) {
    .footer-my-account ul,
    .footer-extras ul,
    .footer-right ul {
        display: block;
    }
}

@media(max-width:991px) {
    .footer-content .footer-left,
    .footer-content .footer-my-account,
    .footer-content .footer-extras,
    .footer-content .footer-right {
        flex: 100%;
        max-width: 100%;
    }
    .footer-my-account ul,
    .footer-extras ul,
    .footer-right ul {
        display: none;
    }
}

.footer-my-account,
.footer-extras,
.footer-right {
    float: left;
    margin: 0;
    text-align: left;
}

.footer-left {
    float: left;
}

.footer-my-account h5,
.footer-extras h5,
.footer-right h5 {
    cursor: pointer;
    font: 600 16px/22px "Dosis", Helvetica, sans-serif;
    letter-spacing: 1px;
    margin: 0 0 30px;
    position: relative;
    text-transform: uppercase;
    float: left;
    width: 100%;
    color: #fff;
}

.footer-right ul li i {
    color: #aaa;
    float: none;
    font-size: 17px;
    margin-right: 5px;
    padding-right: 0;
    padding-top: 5px;
    width: 22px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
}

.contact-address {
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    margin: 0 0 7px;
    color: #ccc;
    font: 400 13px/22px "Poppins", Helvetica, sans-serif;
}

.footer-right .contact-detail:hover .data.address i {
    color: #aaa;
}

.footer-right .contact:hover i,
.footer-right .fax:hover i,
.footer-right .email:hover i {
    color: #ffba01;
}


/* End Footer content */


/* Footer bottom */

.footer-bottom {
    float: left;
    width: 100%;
    position: relative;
    background: #191919;
}

.footer-bottom .container {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 20px 15px;
}

.footer-bottom-title {
    float: left;
    text-align: center;
    width: 100%;
}

.footer-bottom-title p {
    float: left;
    color: #ccc;
    text-align: center;
    margin: 0;
    font-size: 13px;
    width: 100%;
    line-height: 18px;
    padding: 8px 0;
}


/* social list */

.follow-us {
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
}

.follow-us .list-unstyled {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
}

.follow-us ul li a {
    color: #ccc;
    padding: 0;
    float: left;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.follow-us ul.list-unstyled li {
    display: inline-block;
    margin: 0 7px 0 0;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    vertical-align: top;
}


/* fb */

.follow-us ul.list-unstyled li.facebook a::before {
    float: left;
    height: 30px;
    width: 30px;
    content: "";
    background: transparent url(../images/follow-us.png)no-repeat scroll -25px -25px;
}

.follow-us ul.list-unstyled li.facebook a:hover::before {
    background-position: -105px -25px;
}


/* twitter */

.follow-us ul.list-unstyled li.twitter a::before {
    float: left;
    height: 30px;
    width: 30px;
    content: "";
    background: transparent url(../images/follow-us.png)no-repeat scroll -25px -105px;
}

.follow-us ul.list-unstyled li.twitter a:hover::before {
    background-position: -105px -105px;
}


/* youtube */

.follow-us ul.list-unstyled li.youtube a::before {
    float: left;
    height: 30px;
    width: 30px;
    content: "";
    background: transparent url(../images/follow-us.png)no-repeat scroll -25px -265px;
}

.follow-us ul.list-unstyled li.youtube a:hover::before {
    background-position: -105px -265px;
}


/* instagram */

.follow-us ul.list-unstyled li.instagram a::before {
    float: left;
    height: 30px;
    width: 30px;
    content: "";
    background: transparent url(../images/follow-us.png)no-repeat scroll -25px -585px;
}

.follow-us ul.list-unstyled li.instagram a:hover::before {
    background-position: -105px -585px;
}


/* pinterest */

.follow-us ul.list-unstyled li.pinterest a::before {
    float: left;
    height: 30px;
    width: 30px;
    content: "";
    background: transparent url(../images/follow-us.png)no-repeat scroll -30px -425px;
}

.follow-us ul.list-unstyled li.pinterest a:hover::before {
    background-position: -110px -425px;
}


/* End Footer */


/* movetop */

#goToTop:hover {
    background: #111;
    border: 2px solid #fff;
    color: #fff;
    transform: translateY(-6px);
    text-decoration: none;
}

#goToTop {
    background: #ffba01;
    bottom: 80px;
    cursor: pointer;
    height: 40px;
    padding: 5px 7px;
    position: fixed;
    right: 40px;
    line-height: 30px;
    text-align: center;
    width: 40px;
    z-index: 9;
    border: 2px solid #fff;
    transition: 400ms ease-in-out;
    border-radius: 50%;
}

#goToTop:before {
    color: #111;
    content: "\e316";
    font-family: "Material Icons";
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
}

#goToTop:hover:before {
    color: #fff;
}